table,tr {
    border: 1px solid #c4dcf3;
    border-collapse: collapse;
    padding: 5px;
    border-left: none;
    border-right: none;
    
  }
  tbody tr:nth-child(odd)
  {
      background-color:  #eef7ff  ;
  }
  td {
      padding: 10px;  
  }
  thead,tfoot{
      background-color: #427fef;
      font-weight: bold;
      color: white;
  }
  